# Archivos de macOS
.DS_Store
.AppleDouble
.LSOverride

# Icono de carpeta (innecesario)
Icon

# Archivos de metadatos de red
._*

# Archivos temporales
*.swp
*.tmp

# Archivos de papelera y caché
.Trashes
.Spotlight-V100
.fseventsd

# Archivos de Time Machine
.TemporaryItems

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de sistema Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Entornos virtuales
env/