<div class="modal fade" id="modalAsignar" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Asignar OT</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <input type="hidden" id="asignarOtId">

        <div class="mb-3">
          <label class="form-label">Seleccionar Mecánico</label>
          <select id="selectMecanico" class="form-select">
            <option value="">Cargando mecánicos...</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Comentario</label>
          <textarea id="comentarioAsignar" class="form-control" rows="3"
                    placeholder="Debe ingresar comentario"></textarea>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-success" onclick="confirmarAsignacion()">Asignar</button>
      </div>

    </div>
  </div>
</div>
