{% extends "base.html" %}
{% load static %}

{% block title %}Registro Taller{% endblock %}

{% block content %}

<div id="modoWrapper" data-modo="{{ modo }}"></div>

<div class="page-container fade-in">

    <h2 class="fw-bold mb-2">🛠️ Registro Taller</h2>
    <p>Gestiona vehículos actualmente en el taller.</p>

    <div id="tablaVehiculosTaller" class="mt-4">
        <p>Cargando vehículos asignados...</p>
    </div>

</div>

<script src="{% static 'js/registro_taller_estado.js' %}"></script>
<script src="{% static 'js/registro_taller.js' %}"></script>

{% endblock %}
